<!DOCTYPE html>
<html lang="en">

<%- include('../components/head', {pageName: 'Cursos'}) %>

<%- include('../custom/body') %>

  <%- include('../components/navbar') %>

  <div class="flex justify-center items-center flex-col h-96 mb-10">
    <div class="w-full h-screen bg-[url('/images/util/cloud.jpg')] bg-cover bg-center">
        <div class="w-full h-full flex  justify-center items-center backdrop-brightness-75">
          <span class="text-white text-4xl w-1/2 text-center">Convertite en un experto en la nube</span>
        </div>
    </div>
  </div>

  <main class="container mx-auto">
    <div class="flex flex-wrap gap-4 items-center justify-center">
      <%# Aca van los cursos %>
    </div>


  </main>

  <%- include('../components/footer') %>
  
</body>
</html>