<!DOCTYPE html>
<html lang="es">

<%- include('../components/head', {pageName: 'Crear un curso'}) %>

<%- include('../custom/body') %>

  <%- include('../components/navbar') %>

  <main class="container mx-auto">

    <div class="shadow-xl p-10 rounded max-w-6xl mx-auto mt-10 bg-white">
      <h2 class="text-2xl mb-5">Crear un curso:</h2>

      <%- include('../components/courseForm', {action: '/cursos/crear', course: {name: '', price: '', duration: '', description: ''}, create: true}) %>

    </div>

  </main>
  
</body>
</html>