<%- include('./components/head', {pageName: 'Página no encontrada'}) %>

<body>

  <%- include('./components/navbar') %>
  
  <main>

    <div class="grid h-screen px-4 bg-white place-content-center dark:bg-gray-800 dark:text-gray-300">
      <div class="text-center">
        <h1 class="font-black text-gray-200 text-9xl">404</h1>
    
        <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Oops!
        </p>
    
        <p class="mt-4 text-gray-500">Parece que esta pagína no existe</p>
    
        <a
          href="/"
          class="<%= styles.colors.primary %> inline-block px-5 py-3 mt-6 text-sm font-medium text-white focus:outline-none focus:ring"
        >
          Volver al inicio
        </a>
      </div>
    </div>
  </main>

  <%- include('./components/footer') %>
</body>
</html>