<!DOCTYPE html>
<html lang="es">

<%- include('./components/head', {pageName: 'German Cloud'}) %>

<body>

  <%- include('./components/navbar') %>

  <div class="flex justify-center items-center flex-col h-96">
    <div
        class="w-full h-screen bg-[url('/images/util/cloud.jpg')] bg-cover bg-center">
        <div class="w-full h-full flex  justify-center items-center backdrop-brightness-50">
          <span class="text-white text-4xl w-1/2 text-center">Become an expert in the cloud</span>
        </div>
    </div>
  </div>



</body>
</html>