<!DOCTYPE html>
<html lang="en">

<%- include('./components/head', {pageName: 'Registro'}) %>

<%- include('./custom/body') %>

<main>
  <section class="bg-white">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <aside
        class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6"
      >
        <img
          alt="una nube"
          src="/images/util/register.jpg"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </aside>
  
      <main
        class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
      >
        <div class="max-w-xl lg:max-w-3xl">

          <a class="block" href="/">
            <span class="sr-only">Inicio</span>
            <img src="/images/logo.png" width="100px" height="100px" alt="Logo">
          </a>
  
          <h1
            class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl"
          >
            Bienvenido a tu futuro 📚
          </h1>
  
          <p class="mt-4 leading-relaxed text-gray-500">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi nam
            dolorum aliquam, quibusdam aperiam voluptatum.
          </p>
  
          <form action="#" class="mt-8 grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label
                for="name"
                class="block text-sm font-medium text-gray-700"
              >
                Nombre
              </label>
  
              <input
                type="text"
                id="name"
                name="name"
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
              />
            </div>
  
            <div class="col-span-6 sm:col-span-3">
              <label
                for="lastname"
                class="block text-sm font-medium text-gray-700"
              >
                Apellido
              </label>
  
              <input
                type="text"
                id="lastname"
                name="lastname"
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
              />
            </div>
  
            <div class="col-span-6">
              <label for="email" class="block text-sm font-medium text-gray-700">
                Email
              </label>
  
              <input
                type="email"
                id="email"
                name="email"
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
              />
            </div>
  
            <div class="col-span-6 sm:col-span-3">
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
              >
                Contraseña
              </label>
  
              <input
                type="password"
                id="password"
                name="password"
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
              />
            </div>
  
            <div class="col-span-6 sm:col-span-3">
              <label
                for="passwordConfirmation"
                class="block text-sm font-medium text-gray-700" >
                Confirma tu contraseña
              </label>
  
              <input
                type="password"
                id="passwordConfirmation"
                name="passwordConfirmation"
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
              />
            </div>
  
            <div class="col-span-6">
              <label for="MarketingAccept" class="flex gap-4">
                <input
                  type="checkbox"
                  id="MarketingAccept"
                  name="marketing_accept"
                  class="h-5 w-5 rounded-md border-gray-200 bg-white shadow-sm"
                />
  
                <span class="text-sm text-gray-700">
                  Quiero recibir notificaciones sobre eventos, descuentos 
                  y anuncios
                </span>
              </label>
            </div>
  
            <div class="col-span-6">
              <p class="text-sm text-gray-500">
                Al crear esta cuenta estas aceptando nuestras
                <a href="#" class="text-gray-700 underline">
                  política de privacidad
                </a>
                y
                <a href="#" class="text-gray-700 underline">terminos y condiciones</a>.
              </p>
            </div>
  
            <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
              <button
                class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
              >
                Crea tu cuenta
              </button>
  
              <p class="mt-4 text-sm text-gray-500 sm:mt-0">
                Ya tenes una cuenta?
                <a href="/login" class="text-gray-700 underline">Inicia sesión</a>.
              </p>
            </div>
          </form>
        </div>
      </main>
    </div>
  </section>
</main>

<%- include('./components/footer') %>
</body>
</html>

