<% if (typeof error !== 'undefined' && error[inputName]) { %>
  <% for( let i = 0; i < error[inputName].length; i++ ) { %>
    <ul class="mt-1">
      <li class="text-xs text-red-600"><%= error[inputName][i] %></li>
    </ul>
  <% } %>
<% } %>